.link {
  text-decoration: none;
  color: var(--text);
}

.link:hover {
  font-weight: bold;
}

.active {
  font-weight: bolder;
  color: var(--accent);
}

.separator {
  margin: 0 var(--spacing-tight);
}
