.link {
  text-decoration: none;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: calc(1rem / 4);
  text-decoration-color: var(--primary-1);
}

.separator {
  margin: 0 var(--spacing-tight);
}
