.container {
  --box-size: 75px;
  box-sizing: border-box;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
}

.style0 {
  background: hsl(calc(var(--index) * -7deg) 100% 50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--box-size) * 4);
  height: calc(var(--box-size) * 4);
  margin: 0 auto;
}

.style1 {
  background: linear-gradient(
    135deg,
    hsl(calc(275deg + var(--index) * -3deg) 100% 50%),
    hsl(calc(10deg + var(--index) * -4deg), calc(100% - var(--index) * 2%), 50%)
  );
  border-radius: calc(var(--index) * 2%) calc(var(--index) * 4%) 0
    calc(var(--index) * 4%);

  animation: slowtate calc(300ms + var(--index) * 50ms) 2 linear;
}

.box:nth-of-type(3n) {
  border-radius: 32% 64% 0 64%;
}

@keyframes slowtate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
