:root {
  --box-size: 75px;
  box-sizing: border-box;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
}

.style0 {
  background: hsl(calc(var(--index) * -7deg) 100% 50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--box-size) * 4);
  height: calc(var(--box-size) * 4);
  margin: 0 auto;
}
