:root {
  /* Blocks */
  --light: 0% 15%;
  --alpha-25: 25%;

  /* Measurements */
  --spacing-tight: 8px;
  --spacing: 16px;

  /* Palette */
  --black: hsl(0, 0%, 25%);
  --black-2: hsl(0, 0%, 12.25%);
  --white: hsl(0, 0, 98%);

  --primary: hsl(207.06, 100%, 70%, 1);

  /* https://www.fffuel.co/pppalette/ */
  --primary-tint-1: hsl(209, 100%, 76.47%);
  --primary-tint-2: hsl(210.65, 100%, 81.96%);
  --primary-tint-3: hsl(211.34, 100%, 86.86%);
  --primary-tint-4: hsl(212.73, 100%, 91.37%);
  --primary-tint-5: hsl(212.73, 100%, 97.69%);
  --primary-shade-1: hsl(205.13, 69.57%, 54.9%);
  --primary-shade-2: hsl(200.65, 100%, 36.47%);
  --primary-shade-3: hsl(203.92, 100%, 30%);
  --primary-shade-4: hsl(208.26, 100%, 23.73%);
  --primary-shade-5: hsl(214.95, 100%, 17.84%);

  --secondary-tint-1: hsl(226.96, 100%, 90.98%);
  --secondary-tint-2: hsl(226.83, 100%, 83.92%);
  --secondary-tint-3: hsl(227.06, 100%, 70%);
  --secondary-shade-1: hsl(234.15, 100%, 83.92%);
  --secondary-shade-2: hsl(234.12, 100%, 70%);
  --secondary-shade-3: hsl(234.12, 100%, 40%);
}

:root[data-theme='light'] {
  --primary-1: var(--primary-shade-1);
  --primary-2: var(--primary-shade-2);
  --primary-3: var(--primary-shade-3);
  --secondary-1: var(--secondary-shade-1);
  --secondary-2: var(--secondary-shade-2);
  --secondary-3: var(--secondary-shade-3);

  --background: var(--white);
  --text: var(--primary-shade-4);
  --shadow: var(--black);
  --surface: var(--primary-tint-5);
  --accent: var(--primary-3);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-1: var(--primary-shade-1);
    --primary-2: var(--primary-shade-2);
    --primary-3: var(--primary-shade-3);
    --secondary-1: var(--secondary-shade-1);
    --secondary-2: var(--secondary-shade-2);
    --secondary-3: var(--secondary-shade-3);

    --background: var(--white);
    --text: var(--primary-shade-4);
    --shadow: var(--black);
    --surface: var(--primary-tint-5);
    --accent: var(--primary-3);
  }
}

:root[data-theme='dark'] {
  --primary-1: var(--primary-tint-1);
  --primary-2: var(--primary-tint-2);
  --primary-3: var(--primary-tint-3);
  --secondary-1: var(--secondary-tint-1);
  --secondary-2: var(--secondary-tint-2);
  --secondary-3: var(--secondary-tint-3);
  
  --background: var(--primary-shade-4);
  --text: var(--primary-tint-5);
  --shadow: var(--primary-shade-5);
  --surface: var(--primary-shade-3);
  /* Need a lighter primary than primary-tint-3 */
  --accent: var(--primary-tint-4); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-1: var(--primary-tint-1);
    --primary-2: var(--primary-tint-2);
    --primary-3: var(--primary-tint-3);
    --secondary-1: var(--secondary-tint-1);
    --secondary-2: var(--secondary-tint-2);
    --secondary-3: var(--secondary-tint-3);
    
    --background: var(--primary-shade-4);
    --text: var(--primary-tint-5);
    --shadow: var(--primary-shade-5);
    --surface: var(--primary-shade-3);
    /* Need a lighter primary than primary-tint-3 */
    --accent: var(--primary-tint-4); 
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: var(--spacing-tight) var(--spacing);

  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

a,
strong {
  color: var(--accent);
}
